.form-div{
    background:
        linear-gradient(rgba(0,105,137,0.56), rgba(0,105,137,0.56)),
        url('https://cdn.wallpapersafari.com/47/35/R1oS3j.jpg') center/cover no-repeat;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4.2rem 2rem;
    color: white;
}

.wrapper{
    position: relative;
    background: transparent;
    height: auto;
    width: 500px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #162938;
}

.input-box input:focus ~ label, .input-box input:valid ~ label{
    top: -5px;
    font-size: 0.8rem;
    color: #162938;
    padding: 0 2px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000407;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #000407;
    font-size: 1rem;
    pointer-events: none;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #00080d;
    font-weight: 500;
    letter-spacing: 1px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #162938;
    font-size: 1.2rem;
    line-height: 57px;
}

.input-box select{
    background: transparent;
    border: none;
    outline: none;
    right: 50%;
}

.btn{
    width: 100px;
    height: 40px;
    background: #00698a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #162938;
    transition: all 0.3s ease;
    margin: 10px;
    text-align: center;
}
    
.btn:hover{
    background: #a8d9e1;
}

.btn a{
    text-decoration: none;
    color: #162938;
}

h5{
    font-weight: 500;
}

h5 a{
    text-decoration: none;
    color: #45a7c5;
    font-weight: 600;
}

@media (max-width: 600px){
    .wrapper{
        width: 100%;
    }
    .form-box{
        padding: 20px;
    }
    .btn{
        width: 80px;
        height: 35px;
        font-size: 0.9rem;
    }
    .input-box{
        height: 45px;
        margin: 20px 0;
    }
    .input-box .icon{
        font-size: 1rem;
        line-height: 45px;
    }
    .input-box label{
        font-size: 0.9rem;
    }
    .input-box input{
        font-size: 0.9rem;
    }
    .form-box h2{
        font-size: 1.5rem;
    }
    .form-div{
        padding: 2rem 1rem;
    }
    h5{
        font-size: 0.9rem;
    }
    h5 a{
        font-size: 0.9rem;
    }
}

.form-foot{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
